* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 1.5rem;
}

nav {
    position: fixed;
    padding: 2rem;
    width: 100%;
    top: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
}

nav div {
    font-size: 2rem;
    font-weight: bold;
    color: rebeccapurple;
}

nav ul {
    margin-top: 0.15rem;
    list-style-type: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
}

nav ul li a.link {
    font-size: 1.5rem;
}

main ul {
    list-style-type: decimal;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.link:hover {
    color: blue;
}

.link:active {
    color: red;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    background-color: rebeccapurple;
    color: white;
}

footer a.link {
    color: white;
}

footer a.link:hover {
    text-decoration: underline;
    color: white;
}