* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: decimal;
}

ul li {
}

ul li a {
    text-decoration: none;
    font-size: 1.2rem;
}

ul li a:hover {
    color: blue;
}

ul li a:active {
    color: red;
}