* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#bg-changer-btn {
    padding: 1.5rem 2rem;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    outline: none;
    border: 0.15rem solid rebeccapurple;
    cursor: pointer;
}

#bg-changer-btn:hover {
    background-color: white;
    color: rebeccapurple;
}

#bg-changer-btn:active {
    transform: translate(0.05rem, 0.05rem);
}