* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    border: 0.5rem solid #c1c1c1;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
}

#image {
    transform: translateX(0);
    display: flex;
}

img {
    min-width: 30rem;
    height: 30rem;
    object-fit: cover;
}