* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(225, 214, 236);
}

button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
    color: rebeccapurple;
    border: 0.15rem solid rebeccapurple;
    outline: none;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    box-shadow: 0.05rem 0.1rem 0.25rem rgba(0,0,0,0.3);
}

button:not(:last-child) {
    margin-right: 1rem;
}

button:hover {
    background-color: rebeccapurple;
    color: white;
}

button:active {
    transform: translate(0.05rem,0.05rem);
}