* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    height: 300vh;
}

#hamburger {
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 0.7rem;
    cursor: pointer;
    background-color: rebeccapurple;
    color: white;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    z-index: 9;
    transition: all 0.3s ease-in-out;
}

#nav-container {
    position: fixed;
    background-color: rgb(156, 83, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    max-width: 100%;
    height: 100vh;
    right: 0;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
}

#nav-container.active {
    transform: translateX(0);
}

#nav-container ul {
    list-style-type: none;

}

#nav-container ul li a {
    text-decoration: none;
    font-family: inherit;
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease-in-out;
}

#nav-container ul li a:hover {
    background-color: white;
    color: rgb(156, 83, 228);
}

/* @keyframes rotatenav {
    0% {
        transform: skewY(0deg);
    }

    100% {
        transform: skewY(30deg);
    }
} */